<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Your new 11ty blog" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    {% seo "" %}
    
    <!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body>
  <main>
  
    {{ content | safe }}

      <footer class="footer">
        <div class="links">
          <a href="/">Home</a>
          <span class="divider">|</span>
          <a href="/@">Users</a>
          <span class="divider">|</span>
          <a href="/start">Get started with Instalink</a>
          <span class="divider">|</span>
          By:  <a href="/@/benmmonster">Benmmonster</a>

        </div>
<a class="github-button" href="https://github.com/benjamin-del/instalink/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork ntkme/github-buttons on GitHub">Fork</a>
      </footer>
    
  </main>
   
  </body>
</html>