:root {
/* Font */  
  --fontname: "Roboto"
  --fontfamily: sans-serif;
/* Root vars */
  --font-size: 1em
  --width: 100%
}


body  {
  font-family: var(--fontname), var(--fontfamily);
}

/* CHANGE LINE 25 IN INDEX.HTML TO  <link rel="stylesheet" href="/styles/default.css" /> TO USE ME */

.link {
  /* Fallback: Set a background color. */
  background-color: #CA4246;
  
  /* Create the gradient. */
   background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
  
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

}

.link:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}
h2 {text-align: center;}


/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}
  


.prf-img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.list-img {
	width: var(--width);
	margin-left: auto;
  margin-right: auto;
	display: block;
	border-radius: 40px;
	margin-bottom: 20px;
}


.h1 {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-bottom: 0;
  margin-bottom: -0.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

a {
  font-weight: bold;
  text-align: center;
  font-size: var(--font_size);
  margin-bottom: 0;
  margin-bottom: -0.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

p {

}

a:link {
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

body {
  backround: white;
}
h2 {
  text-align: center !important;
}
h1 {
  text-align: center !important;
}
p {
  text-align: center !important;
}
h3 {
  text-align: center !important;
}

.atr {
  padding-top: 50px;
}