.link {
  /* Fallback: Set a background color. */
  background-color: #CA4246;
  
  /* Create the gradient. */
   background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
  
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

}

.link:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}


/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}
  


img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

h1 {
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-bottom: 0;
  margin-bottom: -0.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

a {
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0;
  margin-bottom: -0.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

p {
    font-family: 'Outfit', sans-serif;

}

a:link {
  color: black;
  font-family: "Open Sans", sans-serif;
}

a:link {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

a:visited {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

a:hover {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

a:active {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

body {
  backround: white;
}
h2 {
  text-align: center !important;
}
h1 {
  text-align: center !important;
}
p {
  text-align: center !important;
}
h3 {
  text-align: center !important;
}

.atr {
  padding-top: 50px;
}