/* CHANGE LINE 25 IN INDEX.HTML TO  <link rel="stylesheet" href="/styles/gradient.css" /> TO USE ME */

/* OPTIONS */
:root {
  /* First Colour */
  --1: red;
  /* Second Colour */
  --2: yellow;
  /* Direction */
  --Direction: to right;
  /* Text & Border Colour */
  --clr: white;
}

body {

background-image: linear-gradient(var(--Direction), var(--1) , var(--2));
font-family: 'Open Sans', sans-serif;
color: var(--clr)
}
.h1 {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-bottom: 0;
  margin-bottom: -0.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
h1 {text-align: center;}
p  {text-align: center;}
h3 {text-align: center;}
a {text-align: center;}


.link {
  border-radius: 40px;
  margin: auto;
  width: 60%;
  height: 60%;
  border: 3px solid var(--clr);
  padding: 8px;
  margin: auto;
  margin-bottom: 10px;
  color: var(--clr);

}

.img {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px solid var(--clr);
}

a:link {
     color: white;
     font-family: 'Open Sans', sans-serif;

}

a:link {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

a:visited {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;  
}

a:hover {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

a:active {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

a {
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  margin-bottom: 0;
  margin-bottom: -0.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}


img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border: 3px solid var(--clr);
}
