/* CHANGE LINE 25 IN INDEX.HTML TO  <link rel="stylesheet" href="/styles/gradient.css" /> TO USE ME */

/* OPTIONS */
:root {
  --1: red;
  --2: yellow;
  --Direction: to right;
  --clr: white;
/* Font */  
  --fontname: "Roboto"
  --fontfamily: sans-serif;  
/* root vars */
  --font-size: 1em
  --width: 100%

}

body {

background-image: linear-gradient(var(--Direction), var(--1) , var(--2));
font-family: var(--fontname), var(--fontfamily);
color: var(--clr)
}
.h1 {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-bottom: 0;
  margin-bottom: -0.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
h1 {text-align: center;}
p  {text-align: center;}
h3 {text-align: center;}
a {text-align: center;}


.link {
  border-radius: 40px;
  margin: auto;
  width: var(--width);
  border: 3px solid var(--clr);
  padding: 8px;
  margin: auto;
  margin-bottom: 10px;
}

.img {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px solid var(--clr);
}

a:link {
     color: var(--clr);
     font-family: 'Open Sans', sans-serif;

}

a:link {
    text-decoration: none;
    color: var(--clr);
    font-family: 'Open Sans', sans-serif;
}

a:visited {
    text-decoration: none;
    color: var(--clr);
    font-family: 'Open Sans', sans-serif;  
}

a:hover {
    text-decoration: none;
    color: var(--clr);
    font-family: 'Open Sans', sans-serif;
}

a:active {
    text-decoration: none;
    color: var(--clr);
    font-family: 'Open Sans', sans-serif;
}

a {
  font-weight: bold;
  text-align: center;
  font-size: var(--font_size);
  margin-bottom: 0;
  margin-bottom: -0.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}


img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border: 3px solid var(--clr);
}