.header {
  display: block;
  margin-left: 43%;
  margin-right: auto;
  background-image: url(https://cdn.glitch.com/35409746-8e4a-406e-ac47-16c4db92cad8%2Fecf15831-4979-4324-b498-eb0d0c706cd9.image.png?v=1619791646369);
background-repeat: no-repeat;
width: 100px;
height: 100px;
  width: 50%;
}