/* CHANGE LINE 25 IN INDEX.HTML TO  <link rel="stylesheet" href="/styles/legacy.css" /> TO USE ME */
:root {
  --font-size: 1em;
  --width: 100%;
  /* Font */  
  --fontname: "Roboto"
  --fontfamily: sans-serif;
} 

body {
  background: rgb(131,58,180);
  background: linear-gradient(225deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);;
  background-attachment: fixed;
  font-family: var(--fontname), var(--fontfamily);

}
h2 {text-align: center;}
.h1 {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-bottom: 0;
  margin-bottom: -0.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
p  {text-align: center;}
h3 {text-align: center;}
a {text-align: center;}[]


.link {
  border-radius: 40px;
  margin: auto;
  width: var(--width);
  border: 3px solid #ffffff;
  padding: 8px;
  margin: auto;
  margin-bottom: 10px;
}

.img {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px solid #fffff;
}

body {
  color: white;

}

a:link {
     color: white;

}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

a {
  font-weight: bold;
  text-align: center;
  font-size: var(--font-size);
  margin-bottom: 0;
  margin-bottom: -0.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}


img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border: 3px solid #fffff;
}