body {
  backround: white;
}
h2 {
  text-align: center !important;
}
h1 {
  text-align: center !important;
}
p {
  text-align: center !important;
}
h3 {
  text-align: center !important;
}




a:link {
  color: black;
  font-family: "Open Sans", sans-serif;
}

a:link {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

a:visited {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

a:hover {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

a:active {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}



.Atrubution {  font-size: 11px;
}

.bio {  font-size: 12px;
}


